.list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

}

.list li {
  max-width: 220px;
  list-style: none;
}

.list li:hover {
  cursor: pointer;
}

.list img {
  width: 100%;
  height: auto;
  transition: ease .4s;
}

.list img:hover {
  cursor: pointer;
  transform: scale(.95);
}

.list p {
  margin: 0;
}